@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<html>
<head>
    <meta charset="utf-8">
    <link href="~/css/Home/Home.css" rel="stylesheet" asp-append-version="true"/>
    @*<script src="~/lib/jquery/jquery.js"></script>
            <script src="~/lib/layer/layer.js"></script>
        <script src="~/js/Common/common.js" asp-append-version="true"></script>*@
    <script src="~/lib/jquery/jquery.cookie.js"></script>


    <script>
        //$(function () {
        //    commonajax.Ajax("GET", "/Home/GetData", null, function (d) {
        //        console.log(JSON.stringify(d));
        //    }, null);
        //});
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 home_body" >正文</div>
        </div>
    </div>
</body>
</html>


